<div class="card-text font-weight-light">
  <table class="table table-cv table-sm table-borderless table-responsive table-cv-map">
    {% for group in entries %}
      <tr>
        <td colspan="2" style="padding-top: 1.5rem; padding-bottom: 0.5rem;">
          <h4 style="margin: 0; font-size: 1.1rem; font-weight: 500; color: var(--global-theme-color);">{{ group.subcategory }}</h4>
        </td>
      </tr>
      {% for entry in group.items %}
        <tr>
          <td class="p-1 pr-4 font-weight-bold" style="width: 65%; vertical-align: top; padding-right: 1.5rem !important;">
            {{ entry.label }}
          </td>
          <td class="p-1 pl-4 font-weight-light text" style="width: 35%; vertical-align: top; padding-left: 1rem !important;">
            {{ entry.details }}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
</div>
